*{
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
.daohang{
    background-color: #333;
    height: 52px;
}
.daohang1{
    width: 1240px;
    margin: 0 auto;
    height: 52px;
}
.left{
    width: 40%;
}
.right{
    float: right;
    width: 60%;
    height: 52px;
}
.right a{
    margin-top: 15px;
    float: left;
    color: white;
    font-size: 14px;
    height: 20px;
    margin-left: 15px;
    padding-right: 10px;
    border-right: 1px solid gray;
}
.right a{
    width: 10%;
}
.right li span{
    display: block;
    width: 20px;
    color: white;
}
.right ul li {
    float: left;
    width: 120px;
    border: none;
    margin-left: 15px;
}
.right li a{
    float: left;
    width: 110px;
    margin-top: 11px;
}
.iconsj{
    width: 20px;
    height: 20px;
    margin-top: 3px;
}
.sj{
    width: 110px;
}
.right ul li a{
    margin-left: 0;
}
.right a:hover,
.right li:hover{
    color: rgb(90, 232, 90);
}
.biaoti{
    width: 1240px;
    height: 88px;
    margin: 22px auto;
}
.biaoti img{
    float: left;
    margin-top: 10px;
    width: 180px;
    height: 65px;
     object-fit: cover;
     margin-right: 30px;
}
.biaoti ul{
    margin-left: 10px;
    float: left;
    width: 720px;
    margin-top: 33px;
}
.biaoti li{
    float: left;
    font-size: 18px;
    width: 36px;
    height: 32px;
    margin-right: 40px;
    list-style: none;
}
.biaoti li:hover{
    color: rgb(6, 188, 6);
    border-bottom: 2px solid rgb(6, 188, 6);
}
.sousuo{
    float: left;
    border-bottom: 2px solid rgb(152, 152, 152);
    width: 170px;
}
.icon.qq{
    float: left;
    margin-top: 42px;
    width: 20px;
    height: 15px;
    margin-right: 5px;
    color:  rgb(152, 152, 152);
}
.sousuo input{
    float: left;
    margin-top: 36px;
    display: block;
    width: 130px;
    font-size: 16px;
    height: 28px;
    color:  rgb(152, 152, 152);
    border: none;
}
.gouwuche{
    padding-left: 20px;
    float: left;
    width: 100px;
    height: 70px;
}
.icon{
    float: left;
    margin-top: 30px;
    display: block;
    width: 55px;
    height: 35px;
}
.i{
    margin-top: 19px;
    margin-left: -20px;
    float: left;
    font-style: normal;
    background-color: #E26237;
    border-radius: 10px;
    width: 30px;
    text-align: center;
    line-height: 20px;
    height: 20px;
    color: white;
}
.xs{
    width: 100%;
    background-color: rgb(234, 234, 234);
}
.xianshi{
            margin: 0;
    margin: 0 auto;
    width: 1240px;
    height: 500px;
}
.xianshileft{
    width: 250px;
    margin: 0;
    float: left;
    height: 500px;
    background-color: rgba(0, 0, 0,0.6);
}
.xianshileft li{
    height: 50px;
    line-height: 50px;
    list-style: none;
}
.xianshileft h4,
.xianshileft p{
    float: left;
        height: 50px;
        line-height: 50px;
    color: white;
}
.xianshileft h4{
    font-weight: normal;
    font-size: 18px;
    margin-left: 20px;
}
.xianshileft p{
    font-size: 14px;
    margin-left: 15px;
}
.iconkk{
    width: 20px;
    height: 20px;
    padding-top: 15px;
    margin-left: 50px;
}
.iconkj{
    width: 20px;
    height: 20px;
    padding-top: 15px;
    margin-left: 6px;
}
.iconk{
    width: 20px;
    height: 20px;
    padding-top: 10px;
    margin-left: 19px;
    margin-top: 6px;
}
.xianshiright{
    float: left;
    width: 800px;
}
.xianshiright img{
    height: 500px;
}
.title,.rm,.sx,.zx{
    width: 1240px;
    margin: 20px auto;
    height: 102px;
}
.title h3,
.title p,
.rm h3,
.rm p,.sx h3,
.zx h3{
    float: left;
}
.title h3,.rm h3,.sx h3,.zx h3{
        height: 102px;
    line-height: 102px;
    font-size: 30px;
    font-weight: normal;
    margin-right: 30px;
}
.title p,.rm p{
    margin-top: 48px;
    color: rgb(157, 157, 157);
}
.title span{
    float: right;
    height: 103px;
    line-height: 103px;
}
.img li{
    width: 310px;
}
.iconjk{
    width: 20px;
    height: 20px;
    padding-top: 15px;
}
.tu{
    width: 1240px;
    margin: auto;
    overflow: hidden;
    background-color: white;
    margin-bottom: 40px;
        display: flex;
    justify-content: space-between;
}
.tu ul{
    float: left;
    display: block;
    width: 300px;
    margin: 0;
    margin-right: 10px;
}
.tu img{
    margin: 0;
    padding: 0;
}
.tu span{
    display: block;
    background-color: #EEF9F4;
    margin-top: 0;
    width: 304px;
    height: 100px;
}
.tu a{
    display: block;
    width: 304px;
    height: 51px;
    line-height: 51px;
    font-size: 20px;
    text-align: center;
}
.tu p {
    width: 304px;
    height: 33px;
    font-size: 22px;
    color: red;
    text-align: center;
    line-height: 33px;
}
.rmf{
    width: 100%;
    margin: 0 auto;
    background-color: #f1f1f1;
    padding-bottom: 20px;
}
.rm{
    width: 1240px;
}
.rmg{
    width: 1240px;
    overflow: hidden;
    margin: 0 auto;
}
.rmg img{
    margin-right: 1px;
}
.sx span{
    float:right ;
    height: 103px;
    line-height: 103px;
    font-size: 18px;
}
.sx span{
    margin-left: 30px;
}
.sx span{
    color: #A1A1A1;
}
.sx p{
    float:right ;
    font-size: 18px;
    margin-right: 15px;
    margin-top: 40px;
}
.sx p:hover{
    background-color: #5eb69c;color: white;
}
.gw{
    width: 1240px;
    margin: 0 auto;
}
.gwleft{
    float: left;
    width: 248px;
    height: 610px;
    margin-right: 20px;
}
.gwright{
    width: 940px;
    float: left;
    margin-left:20px;
}
.gwright ul{
    float: left;
    width: 190px;
    height: 305px;
    margin-left: 40px;
}
.gwright a{
    display: block;
    width: 192px;
    height: 57px;
    line-height: 18px;
    margin-top: 12px;
}
.gwright span{
    display: block;
    margin-top: 8px;
    font-size: 23px;
    color: red;
}
.zx{
    overflow: hidden;
}
.zx span{
    float: right;
    height: 102px;
    line-height: 102px;
}
.zx1{
    width: 1240px;
    margin: 0 auto;
    overflow: hidden;
}
.zx1 ul{
    float: left;
    width: 405px;
    height: 390px;
}
.zx1 p{
    float: left;
    width: 100px;
        color: #888;
}
.zx1 span{
    float: right;
    width: 50px;
        color: #888;
}
.icongg{
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 3px;
    color: #888;
}
.iconpp{
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    padding-top: 5px;
    margin-right: 5px;
    color: #888;
}
.down{
    width: 100%;
    background-color: #f1f1f1;
    padding-bottom: 50px;
    overflow: hidden;
}
.down1{
    width: 1240px;
    margin: 0 auto;height: 150px;
        border-bottom: 1px solid gray;
}
.down1 ul{
    float: left;
    width: 250px;
    margin-top: 60px;
    margin-left: 60px;

}
.iconjg{
    float: left;
    display: block;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    color: rgb(39, 201, 39);
}
.down1 p{
    float: left;
    text-align: center;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    width: 150px;
}
.help{
    width: 1240px;
    margin: 0 auto ;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.helpleft ul{
    float: left;
    margin-right: 80px;
}
.helpleft h3{
    /* display: block; */
    font-weight: normal;
    font-size: 19px;
    padding-bottom: 10px;
}
.help p{
    font-size: 16px;
    color: #969696;
    margin-top: 6px;
}
.iconkf{
    margin-top: 3px;
    margin-left: 5px;
    width: 20px;
    height: 20px;
}
.helpright{
    text-align: center;
}
.helpright li{
    float: left;
    margin-right: 30px;
}
.gy{
    width: 1240px;
    margin: 0 auto;
}
.gy a{
    display: block;
    text-align: center;
    color: #969696;
    font-size: 16px;
}
.gy p{
    margin-top: 10px;
    font-size: 18px;
}